#set($filetype=$m.request.httpRequest.attributes.filetype)
#set($themeLocation=$content.themeLocation.value)

#if ($filetype=="css")
	#if($themeLocation=="before")
		#if($isScreenCssExist)
        <link rel="stylesheet" type="text/css" media="screen" href="/theme/$theme/screen-css">
		#end
		#if($isPrintCssExist)
    		<link rel="stylesheet" type="text/css" media="print" href="/theme/$theme/print-css">
		#end
		#parse("com.atex.plugins.themes.PluginsCss.vm")
	#else
		#parse("com.atex.plugins.themes.PluginsCss.vm")
		#if($isScreenCssExist)
		    <link rel="stylesheet" type="text/css" media="screen" href="/theme/$theme/screen-css">
		#end
		#if($isPrintCssExist)
	        <link rel="stylesheet" type="text/css" media="print" href="/theme/$theme/print-css">
		#end
	#end
#elseif($filetype=="jshead")
	#if($themeLocation=="before")
    <script type="text/javascript" src="/theme/$theme/jshead"></script>
		#parse("com.atex.plugins.themes.PluginsHeader.vm")
	#else
		#parse("com.atex.plugins.themes.PluginsHeader.vm")
    <script type="text/javascript" src="/theme/$theme/jshead"></script>
	#end
#elseif($filetype=="jsfoot")
	#if($themeLocation=="before")
    <script type="text/javascript" src="/theme/$theme/jsfoot"></script>
		#parse("com.atex.plugins.themes.PluginsFooter.vm")
	#else
		#parse("com.atex.plugins.themes.PluginsFooter.vm")
    <script type="text/javascript" src="/theme/$theme/jsfoot"></script>
	#end
#end

